@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
